@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;700&display=swap");

:root {
  background-color: #121212;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  margin: 0;
  font-family: "Outfit", sans-serif;
}

header {
  background: #000;
  text-decoration: none;
}

header h1 {
  color: #fff;
  margin-left: 50px;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 5px 20px;
  display: flex;
  /* align-items: center;
  justify-self: space-between; */
}

nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}
nav a {
  padding: 5px;
}

nav button {
  background-color: #333;
  color: #4caf50;
  border: 2px solid #000;
  padding: 10px;
  border-radius: 8px;
  font-family: "Outfit", sans-serif;
  cursor: pointer;
  font-size: 1em;
  margin-right: 10px;
  margin-left: 5px;
}

.search-form {
  display: inline;
}
.search-box {
  background-color: #333;
  color: #fff;
  border: 2px solid #000;
  padding: 10px;
  border-radius: 8px;
  font-family: "Outfit", sans-serif;
  font-size: 1em;
  outline: none;
}

.search-btn {
  background-color: #333;
  color: #4caf50;
  border: 2px solid #000;
  padding: 10px;
  border-radius: 8px;
  font-family: "Outfit", sans-serif;
  font-size: 1em;
  cursor: pointer;
  margin-right: 10px;
}

.home {
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 100px;
  margin: 40px;
  margin-right: 100px;
  margin-left: 40px;
}
.pastedetails {
  background: #1f1b1b;
  border-radius: 4px;
  padding: 4px;
}
.pastedetails h2 {
  padding-left: 20px;
}

.create {
  font-size: 18px;
  font-weight: 200;
  max-width: 100%;
  margin-left: 40px;
  padding: 20px;
  padding-top: 0px;
  border-radius: 4px;
  background: #1f1b1b;
  height: fit-content;
}

form .title {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #333;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
  color: #fff;
}
form .radio {
  padding: 10px 0;
}
form textarea {
  width: 100%;
  margin-top: 10px;
  height: 190px;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #333;
  background-color: transparent;
  resize: none;
  color: #fff;
  outline: none;
}
form button {
  background-color: #4caf50;
  border: none;
  display: inline-block;
  margin: 10px auto;
  padding: 12px 12px;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  font-family: "Outfit", sans-serif;
}

.pastes,
.userpaste {
  margin: 20px;
}
.pastes-details h4 {
  margin: 10px 0 10px 0;
}
.pastes-details p {
  margin: 0;
}

.mypaste {
  margin-top: 0px;
}

.paste {
  position: relative;
}
.paste textarea {
  width: 100%;
  margin-top: 10px;
  height: 190px;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #333;
  background-color: #1f1b1b;
  resize: none;
  color: #fff;
  outline: none;
}

.icon {
  position: absolute;
  top: 5.2em;
  right: 0.5em;
}
.icon span {
  padding: 2px;
  cursor: pointer;
}

span:hover {
  color: #00f;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #00f;
}
nav {
  display: flex;
  align-items: center;
}
/* Signup Form */
form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 4px;
}

div.error {
  padding: 10px;
  background: #333;
  border: 1px solid #e7195a;
  color: #e7195a;
  border-radius: 4px;
  margin: 20px 0;
}

.signup input,
.login input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #333;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
  color: #fff;
}

@media only screen and (max-width: 872px) {
  nav {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .home {
    grid-template-columns: 100%;
  }
  .sidebar {
    margin-left: 40px;
  }
  nav {
    display: none;
  }
}
